<%= form_for [project, comment] do |f| %>
  <% comment.errors.full_messages.each do |m|%>
    <p><%= m %></p>
  <% end %>

  <%= f.text_field :text, placeholder: 'Enter a comment', class: 'comment-input' %>
  <%= f.submit 'Submit', class: 'btn add-comment mt-0' %>
<% end %>
