<h2><%= @user.name.upcase %></h2>

<div class="user-info">
  <div class="user-info-item">
    <h3>PROJECTS BACKED</h3>

    <ul>
      <% @user.pledges.each do |pledge| %>
        <li>
          <%= pledge.project.title %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="user-info-item">
    <h3>TOTAL PLEDGED</h3>
    <ul>
      <li>
        <%= number_to_currency(@user.total_pledged) %>
      </li>
    </ul>
  </div>

  <div class="user-info-item">
    <h3>PROJECTS OWNED</h3>
    <ul>
      <% @user.projects.each do |project| %>
        <li>
          <%= project.title %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
