<h2><%= @user.name %></h2>

<h3>Projects Backed</h3>

<ul>
  <% @user.pledges.each do |pledge| %>
    <li>
      <%= pledge.project.title %>
    </li>
  <% end %>
</ul>

<hr>
<h3>Total Pledged</h3>
<%= @user.total_pledged %>
<hr>

<h3>Projects Owned</h3>

<ul>
  <% @user.projects.each do |project| %>
    <li>
      <%= project.title %>
    </li>
  <% end %>
</ul>
