<h2><%= @user.name %></h2>

<div class="user-info">
  <div class="user-info-item">
    <h3>Projects Backed</h3>

    <ul>
      <% @user.pledges.each do |pledge| %>
        <li>
          <%= pledge.project.title %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="user-info-item">
    <h3>Total Pledged</h3>
    <div><%= @user.total_pledged %></div>
  </div>

  <div class="user-info-item">
    <h3>Projects Owned</h3>
    <ul>
      <% @user.projects.each do |project| %>
        <li>
          <%= project.title %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
