<%= form_for [project, update] do |f| %>
  <% update.errors.full_messages.each do |m|%>
    <p><%= m %></p>
  <% end %>

  <%= f.text_field :description, placeholder: 'Enter your update', class: 'comment-input' %>
  <%= f.submit 'Submit', class: 'btn add-comment mt-0' %>
<% end %>
