*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}

figure {
  margin: 0;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  & > img {
    display: block;
  }
}

body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #212121, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #212121, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  height: 25vh;
}

a {
  color: #FF7C5E;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.flash-alert, .flash-notice {
  text-align: center;
  color: #FF7C5E;
}

.btn {
  color: #FF7C5E;
  border: 1px solid #FF7C5E;
  background-color: transparent;
  border-radius: 0px;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: #FF7C5E;
    border: 1px solid #FF7C5E;
  }
}

input {
  padding-left: 15px;
}

span {
  color: #000;
}
