form {
  width: 45vw;
  margin: 0 auto;
  margin-bottom: 50px;

  @media(max-width: 895px) {
    width: 90vw;
  }
}

.from-group {
  margin-bottom: 15px;
}

.form-control {
  color: #FE4446;
  outline: 0;
  border: 0;
  background: none;
  border-bottom: 2px dotted #8C95AA;
  border-radius: 0px;
}

.btn {
  margin-top: 20px;
}

label {
  color: #8C95AA;
}

input:focus, .form-control:focus {
  outline: none;
  color: #FE4446;
}
