// Normalize.css resets base styles to a common default across browsers
// Read more: https://necolas.github.io/normalize.css/
// You can find this file in vendor/assets/stylesheets
@import 'normalize';

// Third-party stylesheets
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// Base styles
@import 'variables';
@import 'base';
@import 'layout';
@import 'forms';
@import 'typography';

// Module styles
@import 'projects';
@import 'home';
@import 'nav';
@import 'users';
