.projects-container {
  width: 70vw;
  margin: 0 auto;

  @media(max-width: 895) {
    width: 95vw;
  }
}

.new-project {
  width: 100%;
}

// filter

.filter {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;


  a {
    display: block;
    width: 45%;
    text-align: center;
    border: solid 1px #FF7C5E;
    padding: 20px;

    @media(max-width: 895px) {
      width: 50%;
    }

    &:hover {
      text-decoration: none;
      color: #FF7C5E;
    }

    &.current {
      color: #FFF;
      background-color: #FF7C5E;
    }
  }
}

// Grid

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @media(max-width: 895px) {
    display: block;
  }
}

.project {
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 0;
  width: calc(50% - 2rem);
  justify-content: center;

  @media(max-width: 895px) {
    width: 100%;
  }
}

.project-image > img {
  margin: auto;
}

.project-link {
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.project-title {
  margin-bottom: 0;
}

.project-days-left {
  font-size: 0.75em;
}

// Project show

.projects-info {
  width: 70vw;
  margin: 0 auto;

  .project-basics {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;

    .project-image {
      width: 50%;
    }

    .project-info {
      width: 50%;
      padding-left: 30px;
    }

    @media(max-width: 895px) {
      .project-image {
        width: 100%;
      }

      .project-info {
        width: 100%;
        margin-top: 30px;
      }
    }
  }

  form {
    text-align: right;

    .input-num {
      height: 36px;
    }

    @media(max-width: 895px) {
      text-align: center;
    }
  }

  .new_pledge {
    text-align: left;
  }

  p {
    color: #8C95AA;
  }

  hr {
    border: 0.5px solid #8C95AA;
  }

  h3 {
    border: none;
  }

  .project-rewards {
    margin-top: 50px;

    .remove-reward {
      width: 150px;
    }
  }

  .reward {
    display: flex;
    width: 70%;
    margin: 0 auto;

    p {
      flex-grow: 2;
    }
  }

  .add-reward {
    text-align: left;
    margin: 30px;
    margin-bottom: 50px !important;
  }

  .project-backers {
    margin-top: 50px;
    margin-bottom: 50px;

    .backer {
      display: flex;
      width: 70%;
      margin: 0 auto;

      p {
        flex-grow: 2;
      }

      ul {
        text-align: center;
      }

      li {
        color: #8C95AA;
      }

      span {
        color: #FF7C5E;
      }
    }
  }

  @media(max-width: 895px) {
    width: 95vw;

    .project-basics {
      width: 100%;
    }

    .project-rewards {
      .reward {
        flex-wrap: wrap;
        padding-bottom: 10px;
      }

    .project-backers {
      .backer {
        flex-wrap: wrap;
        padding-bottom: 10px;
      }
    }

      .reward, .remove-reward, .backer {
        width: 100%;
      }
    }
  }
}

.project-days-left {
  color: #FF7C5E;
}

.text {
  color: #fff;
}

form.new_comment,
form.edit_comment,
form.new_update,
form.edit_update {
  margin-top: 50px;
  width: 100%;
  text-align: center;

  .comment-input {
    height: 37px;
    width: 60%;
    padding-left: 15px;
  }
}

.comment-wrapper,
.update-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;

  .comment-text {
    color: #FF6600;
  }

  .card {
    margin-bottom: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 1s ease;

    &:hover {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  }

  @media(max-width: 895px) {
    width: 95%;
  }
}
